@font-face {
    font-family: "Outfit Family";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "YoungSerif Family";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

af1 h3 {
    color: rgb(128, 47, 148);
}

div.af1{
    background-color: #eec8ff2c;
    padding-left: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

ul.pp{
    list-style-position: inside;
    padding-left: 0;
}

ul.pp b{
    margin-left: 1rem;
}

div.af2 ul{
    list-style-position: inside;
    padding-left: 0.2rem;
}

ul gg{
    margin-left: 1rem;
}

div.af3 ol{
    list-style-position: inside;
    padding-left: 0.2rem;
}

div.af3 li {
    padding-left: 2rem;
    text-indent: -2rem;
}

div.af3 li b{
    padding-left: 0.7rem;
}

h2{
    color: #8d401d;
    font-family: "YoungSerif Family";
}

td.first{
    padding-left: 2rem;
}

td.second{
    color: #8d401d;
    padding-left: 150px;
}

table{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-spacing: 0px;
    font: sans-serif;
    width: 100%;
}

hr{
    color: rgba(187, 187, 187, 0.26);
    width: 100%;
}

div.body_custom{
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20rem;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 2rem;
    border-radius: 2rem;
    font-family: "Outfit Family";
    color: #5d534f;
}

div.body_custom h1{
    font-family: "YoungSerif Family";
    color: black;
}

body{
    background-color:rgba(226, 221, 213, 0.76);
}

img {
    width: 100%;
    border-radius: 1rem;
}

p{
    padding-bottom: 1rem;
}

div.attribution{
    font-size: 0.8rem;
    text-align: center;
    color: #5d534f;
    padding-top: 3rem;
}

hr.divi{
    margin-top: 2rem;
}